In [1]:
#importing required liberary
import numpy as np
import pandas as pd

In [2]:
#import datasets
data=pd.read_csv("dataset.csv");

In [3]:
#reading 5 dataset
data.head()

         x1        x2        x3          y
0  2.173282  2.350076  2.415250  35.708201
1  5.555118  5.993455  3.045520  60.201730
2  4.799505  3.901152  4.451028  56.969898
3  2.581442  5.075955  4.103971  54.576365
4  1.241630  4.261207  4.567827  50.139696

In [4]:
#viewing size of dataset
data['x1'].size

1000

In [5]:
#Taking 70% of data as training set
k=(int)(0.7*data['x1'].size)
x=np.ones((k,4))
x[:,1:]=np.array(data.loc[:k-1,['x1','x2','x3']])
y=np.array(data.loc[:k-1,'y'])

In [6]:
#checking Size of training set
len(x[:,0])

700

In [7]:
#Taking rest 30% as test data
k1=(int)(0.3*data['x1'].size)
x_test=np.ones((k1,4))
x_test[:,1:]=np.array(data.loc[k:,['x1','x2','x3']])
y_test=np.array(data.loc[k:,'y'])

In [8]:
#linear regression model
m=0.0
m=len(x[:,0])#size of train data
#a is our coefficient y=a0+a1x1+a2x2+a3x3
a=np.array([0.0,0.0,0.0,0.0])
alpha=0.001#learning rate

In [9]:
for k in range(100000):
    temp=np.zeros(4)
    for i in range(m):
        y_diff=(a*x[i,:]).sum()-y[i]
        for j in range(len(x[0,:])):
            temp[j]+=(y_diff*x[i,j])
    a=a-((alpha/m)*temp)

In [10]:
print("y={}+{}x1+{}x2+{}x3".format(a[0],a[1],a[2],a[3]))

y=10.45499420534502+2.491050035196256x1+3.6091684375299087x2+4.706228755648556x3

In [11]:
#predicting y
y_pred=np.zeros(len(x_test[:,0]))
for i in range(len(x_test[:,0])):
    y_pred[i]=(a*x_test[i,:]).sum()

In [12]:
mean_sq_error=((y_pred-y_test)**2).sum()/len(y_test)
print("mean square error",mean_sq_error)

mean square error 0.08453264138251676

In [13]:
#importing liberary for accuracy check
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squaed error ",mean_squared_error(y_test,y_pred))
print("r2 score ",r2_score(y_test,y_pred))

Mean squaed error  0.08453264138251676
r2 score  0.9990487114955383